* {
  background-color: hsl(0, 0%, 20%);
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: hsl(240, 100%, 70%);
}

.heading1 {
  font-size: 35px;
  background-color: hsl(240, 100%, 70%);
}

.navbarList {
  display: flex;
  gap: 30px;
  font-size: 25px;
  background-color: hsl(240, 100%, 70%);
}

.navbarList > li {
  list-style: none;
  background-color: hsl(240, 100%, 70%);
}

.counterContainer {
  width: 500px;
  margin: 3rem auto;
  text-align: center;
  border: 2px solid white;
  padding: 3rem;
}

.counterDisplay {
  font-size: 6rem;
  font-weight: bold;
}

.resetBtn, .decrementBtn, .incrementBtn {
  width: 120px;
  padding: 20px;
  font-size: 1rem;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background-color: aqua;
  color: black;
}

.todoContainer {
  border: 2px solid white;
  width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.todoContainer > button {
  background-color: rgb(0, 255, 0);
  color: black;
  font-size: 1.2rem;
  margin: 0 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
}

.todoContainer > input[type="text"] {
  font-size: 1.2rem;
  border: 2px solid white;
  padding: 5px;
}

.todo-list {
  padding: 0;
}

.todo-listItem {
  text-align: start;
  display: flex;
  border: 2px solid white;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1.2rem;
  align-items: center;
}

.todo-text {
  flex: 1;
}

.todo-buttons {
  margin: 0px 5px;
  background-color: red;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1rem;
}


